.App {
  margin: 0 auto;
  width: 1920px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  background-color: #fff; /* пример фона */
}

.header_container {
  margin: 0 auto;

  width: 100%;
  padding: 0 20px; /* отступы по бокам */
}

.header_toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px; /* высота хедера */
}

.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal_form {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: rgb(180, 180, 180);
  border-radius: 12px;
}

.modal_buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.todos {
  padding: 4rem;
  gap: 3vw 6vw;
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
}

.todolist {
  width: 350px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.todolist_header {
  width: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.editableSpan_title {
  display: block;
}
.editableSpan_input {
  display: inline-block;
}

.todo_input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo_textarea {
  width: inherit;
  outline: none;
}

.todo_textarea:focus-visible {
  outline: none;
}

.todo_textarea-error {
  width: inherit;
  border: 1px solid red;
  outline: none;
}

.error_message {
  display: block;
  color: red;
  font-size: small;
  font-weight: 100;
}

.todo_ul {
  display: flex;
  flex-direction: column;
  width: 350px;
  gap: 4px;
  height: 200px;
  overflow-y: auto;
}

.todo_li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.is_done {
  opacity: 0.5;
}

.todo_buttons {
  width: inherit;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.todo_button-active {
  background-color: rgb(230, 230, 230);
  outline: none;
}
